!!! 5
%html
%head
  %title InstaPic 
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag
  %link{href: asset_path('favicon.ico'), rel: 'shortcut icon'}
  -# = render 'layouts/favicon'

%body

  %nav.navbar.navbar-inverse.min-vw-100.ml-0
    .container
      .navbar-brand= link_to "InstaPic", root_path 

      - if user_signed_in?
        %div{class: "col-6", id: "navbarNav"}
        %ul.nav.navbar-nav.navbar-right
        %li= link_to "Add Pic", new_pic_path
        %li= link_to "Settings", edit_user_registration_path
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else 
        %div{class: "col-6", id: "navbarNav"}
        %ul.nav.navbar-nav.navbar-right
        %li= link_to "Join", new_user_registration_path
        %li= link_to "Login", new_user_session_path

  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: "alert alert-info" #bootstrap class styling


  = yield 

  %footer.navbar.navbar-inverse.mt-4.mb-0.min-vw-100.ml-0
    .container 
      .navbar-brand &copy; 2020 InstaPic 
      %div{class: "", id: "navbarNav"}
      %ul.nav.navbar-nav
      %li= link_to "GitHub", 'https://github.com/lee025'
      %li= link_to "LinkedIn", 'https://www.linkedin.com/in/deborah-lee-5a7a4828/'
      %li= link_to "Portfolio", 'https://www.deblee.dev/'
      %li= link_to "AngelsList", 'https://angel.co/deborah-lee-27'

