!!! 5
%html
%head
  %title InstaPic 
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag
  %link{href: asset_path('favicon.ico'), rel: 'shortcut icon'}
  %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}


%body
  %nav.navbar.navbar-default.navbar-inverse.min-vw-100.ml-0
    .container
      .navbar-brand= link_to "InstaPic", root_path 
      -# .navbar-brand= link_to '<i class="fa fa-camera-retro"> InstaPic</i>'.html_safe, root_path 
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right.flex-row.pull-right.mr-3
          %li= link_to '<i class="fa fa-plus-square icon"></i>'.html_safe, new_pic_path
          %li= link_to '<i class="fa fa-user-circle icon"></i>'.html_safe, user_path(current_user.id)
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else 
        %ul.nav.navbar-nav.navbar-right.flex-row.pull-right.mr-3
          %li= link_to "Join", new_user_registration_path
          %li= link_to "Login", new_user_session_path

  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: "alert alert-info" #bootstrap class styling


  = yield 

  %footer.navbar.navbar-inverse.mb-0.min-vw-100.ml-0
    .container
      .row.footer-row.vw-100.justify-content-around
        .navbar-brand &copy; 2020 InstaPic 
        %div{class: "", id: "navbarNav"}
        %ul.footer-icons.list-unstyled.list-inline.mb-0.d-flex.align-items-center.mx-auto
          %li.mr-2.footer-constainer= link_to '<i class="fa fa-github icon"></i>'.html_safe, 'https://github.com/lee025'
          %li.mr-2.footer-constainer= link_to '<i class="fa fa-linkedin icon"></i>'.html_safe, 'https://www.linkedin.com/in/deborah-lee-5a7a4828/'
          %li.mr-2.footer-constainer= link_to '<i class="fa fa-folder icon"></i>'.html_safe, 'https://www.deblee.dev/'
          %li.mr-2.footer-constainer= link_to '<i class="fa fa-angellist icon"></i>'.html_safe, 'https://angel.co/deborah-lee-27'




